.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h3{
  color: #4a4a4a;
  text-align: center;
}
.App button{
 padding: 1.5rem;
 background-color: blueviolet;
 color: white;
 border: none;
 border-radius: 8px;
 font-size: 1rem;
}

.App button:hover{
  background-color: rgb(250, 55, 214);
}
